<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add home to airbnb</title>
</head>
<body>
  <header>
    <h1>Welcome Admin</h1><br><br>
  </header>
    <main>
      <p>Register details of your property here:</p><br><br>
    <form action="/host/admin" method="POST">
    <label for="owner"> owner: </label>
    <input type="text" name="owner" id="owner" placeholder="owner-details"/><br><br>
    <label for="location"> location: </label>
    <input type="text" name="location" id="location"/><br><br>
    <label for="details"> details: </label>
    <textarea name="details" id="details"></textarea><br><br>
    <button type="submit">Submit</button>
    </form>
    </main>
</body>
</html>